html, body{
    font-family: 'Gowun Batang', serif;
    font-size: 15px;
    margin: 0;
    height: 100%;
}

a{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* .preventScroll{
    height: 100vh;
    overflow: hidden;
} */

/* article{
    height: 100%;
} */
article{
    overflow: auto;
}
#container{
    height: 100%;
}

#mainHeadWrapper{
    width: 100%;
    margin-bottom: 99.5px;
}
#mainHead{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}
#mainHead .homeHead{
    margin: 0;
    padding: 20px;
    text-align: center;
    border-bottom: solid rgb(199, 199, 199) 1.5px;
    font-family: 'Dongle', sans-serif;
    font-size: 40px;
    color: rgb(82, 82, 82);
    height: 58px;
    line-height: 64px;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}




#mainImg{
    position: relative;
    margin: auto;
    width: 700px;
    height: 700px;
    overflow: hidden;
    z-index: 1;
}
#mainImg .slides{
    will-change: left;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 7000px;
    transition: 1s ease-out;
}
#mainImg .slides li{
    display:inline-table;
    text-align: center;
    vertical-align: middle;
    width: 700px;
    height: 700px;
}
#mainImg .w{
    height: 400px;
    margin-top: 120px;
}
#mainImg .h{
    width: 400px;
    margin-top: 20px;
}




.controller span{
    position:absolute;
    background-color: transparent;
    text-align: center;
    border-radius: 50%;
    padding: 5px 10px;
    top: 297.5px;
    font-size: 1em;
    cursor: pointer;
    margin: 0;
    }
.controller .prev{
    left: 0;
}
.controller .next{
    right: 0;
}
.controller span:hover{
    background-color: rgba(128, 128, 128, 0.11);
}




#modeButton button{
    background-color: rgb(224, 224, 224);
    color: black;
    width: 150px;
    height: 30px;
    border: none;
    border-radius:1em;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 4;
}
#modeButton .modeImg{
    margin-bottom: 0;
    display: inline-block;
}
#modeButton #modeImg{
    height: 15px;
    padding-right: 3px;
    padding-bottom: 2px;
    vertical-align: middle;
}
#modeButton #modeState{
    position: relative;
    font-family: 'Noto Sans KR', sans-serif;
    display: inline-block;
}





#menuRelated .menuButton img{
    height: 20px;
    position: fixed;
    left: 30px;
    top: 25px;
    cursor: pointer;
    padding: 20px;
    z-index: 3;
}
#menuRelated .menu{
    position: fixed;
    top: 0;
    width: 19rem;
    left: -19rem;
    height: 100vh;
    background-color: rgb(233, 233, 233);
    font-size: 14px;
    overflow: auto;
    z-index: 5;
}
#menuRelated .menu .profileImg{
    top: 5%;
    width: 60%;
}
#menuRelated .menu .profile{
    margin-bottom: 0;
}
#menuRelated .menu .nickname{
    font-size: 16px;
}
#menuRelated .menu .bio{
    width: 90%;
    margin-top: 12px;
    padding-bottom: 25px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    word-break: keep-all;
    border-bottom: solid rgb(199, 199, 199) 1.5px;
}
#menuRelated .menu .contact{
    width: 90%;
    margin-top: 10px;
    padding-bottom: 25px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    word-break: keep-all;
    border-bottom: solid rgb(199, 199, 199) 1.5px;
    text-align: center;
}
#menuRelated .menu .visitor{
    width: 90%;
    margin: 10px auto;
    word-break: keep-all;
    border-bottom: solid rgb(199, 199, 199) 1.5px;
    text-align: center;
}

#menuRelated .menu .tree{
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    margin-bottom: 100px;
}
#menuRelated .menu .tree label{
    cursor: pointer;
}
#menuRelated .menu .tree ol{
    padding-left: 30px;
}
#menuRelated .menu .tree ul{
    padding-left: 10px;
    list-style: none;
}
#menuRelated .menu .tree input[type="checkbox"]{
    display: none;
}
#menuRelated .menu .tree label:before{
    content: '\e802';
    font-family: fontello;
    display: inline-block;
    width: 13px;
}
#menuRelated .menu .tree input[type="checkbox"]:checked~ul{
    display: none;
}
#menuRelated .menu .tree input[type="checkbox"]:checked~ol{
    display: none;
}
#menuRelated .menu .tree input[type="checkbox"]:checked+label:before{
    content: '\e803';
    font-family: fontello;
    display: inline-block;
    width: 13px;
}
#menuRelated .menu li{
    width:100%;
    margin-top: 20px;
    word-break: keep-all;
}
#menuRelated .menu .copyrights{
    font-size: 12px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}



@media(max-width: 800px){ 
    #mainImg, #mainImg .slides li{
        width: 300px;
        height: 300px;
    } 

    #mainImg .slides{
        width: 3000px;
    } 
    
    #mainImg .h{
        width: 140px;
        margin-top: 20px;
    } 

    #mainImg .w{
        height: 140px;
        margin-top: 50px;
    } 

    .controller .prev{
        left: 0;
    } 

    .controller .next{
        right: 0;
    } 

    .controller span{
        top: 110px;
    } 

    #container{
        height: 100%;
    }
}